<script src="/javascripts/games.js"></script>
<div class="jumbotron text-center">
    <h1>{{title}}</h1>
    <p>{{description}}</p>
</div>
<!-- Search form -->
<div class="md-form mt-0">
    <label for="myInput"></label><input class="form-control" id="myInput" type="search"
                                        placeholder="Search for Video Games by Name, copies sold or release year">

</div>
<table class="table table-striped table-responsive-md btn-table" id="dbTable">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Copies Sold</th>
        <th scope="col">Release Year</th>
    </tr>
    </thead>
    <tbody id="myTable">
    {{#each results}}

        <tr>
            <td>
                {{this.name}}
            </td>
            <td>
                {{this.copiesSold}}
            </td>
            <td>
                {{this.releaseYear}}
            </td>
            <td>
                <button type="button" class="btn btn-info btn-rounded btn-sm m-0" action="games" >Remove</button>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>
<h3>Form to Add a New Video Game</h3>

<form action="games" method="post" onsubmit="window.location.reload()">
    <div class="form-group">
        <label for="exampleFormControlSelect1">Name</label>
        <textarea class="form-control" id="name" rows="1" name="name"></textarea>
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Copies Sold</label>
        <textarea class="form-control" id="copies" rows="1" name="copies"></textarea>
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Release Year</label>
        <textarea class="form-control" id="year" name="year" rows="1"></textarea>
    </div>
    <button type="submit" class="btn btn-primary" id="addGame">Add New Video Game</button>
</form>


<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
