<script src="/javascripts/genres.js"></script>
<div class="jumbotron text-center">
    <h1>{{title}}</h1>
    <p>{{description}}</p>
</div>

<!-- Search Bar -->
<div class="md-form mt-0">
    <label for="myInput"></label><input class="form-control" id="search" type="search"
                                        placeholder="Search for Review by Name or content or rating">
</div>

<table class="table table-striped table-responsive-md btn-table" id="Table">
    <thead>
    <tr>
        <th scope="col">Genre</th>
        <th scope="col">Description</th>
    </tr>
    </thead>
    <tbody id="dbTable" class="dbTable">
<!--   -->
    </tbody>
</table>

<h3>Form to Add a New Genre</h3>

<form >
    <div class="form-group">
        <label for="exampleFormControlSelect1">Genre Name</label>
        <textarea class="form-control" id="name" rows="1" name="name"></textarea>
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Description</label>
        <textarea class="form-control" id="description" rows="3" name="description"></textarea>
    </div>
    <button class="btn btn-primary" id="addGenre" type="submit">Add New Genre</button>
</form>

<template id="genres-template" type="">-->
    <!--        <tr>-->
    <!--            <td>-->
    <!--                {{name}}-->
    <!--            </td>-->
    <!--            <td>-->
    <!--                {{description}}-->
    <!--            </td>-->
    <!--            <td>-->
    <!--                <button type="button" class="btn btn-info btn-rounded btn-sm m-0 remove data-id='{{genreID}}'">Remove</button>-->
    <!--            </td>-->
    <!--        </tr>-->
    <!--    </template>
