<div class="jumbotron text-center">
    <h1>{{title}}</h1>
    <p>{{description}}.js</p>
</div>
<script src="javascripts/review.js"></script>
<table class="table table-striped table-responsive-md btn-table">
    <thead>
    <tr>
        <th scope="col">Game Name</th>
        <th scope="col">Content</th>
        <th scope="col">Rating</th>
        <th scope="col">Edit</th>
        <th scope="col">Remove</th>
    </tr>
    </thead>
    <tbody id="myTable" class="dbTable">
    <template  id="reviews">
        <tr>
            <td>
                {{this.game}}
            </td>
            <td>
                {{this.content}}
            </td>
            <td>
                {{this.rating}}
            </td>
            <td>
                <button type="button" class="btn btn-teal btn-rounded btn-sm m-0">Edit Name</button>
            </td>
            <td>
                <button type="button" class="btn btn-info btn-rounded btn-sm m-0">Remove</button>
            </td>
        </tr>
    </template>
    </tbody>
</table>
<form>

    <div class="form-group">
        <label  for="exampleFormControlSelect1">Video Game</label>
        <select class="form-control" id="game">
            {{#each results}}
                <option>{{this.game}}</option>
            {{/each}}
        </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect2">Rating</label>
        <select class="form-control" id="rate" >
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Comments</label>
        <textarea class="form-control" id="comment" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
